@(message: String, style: String = "scala")
@main("Admin Portal | Apprenticeship Portal") {

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
    <div class="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@controllers.routes.AdminPortalController.admin">
                        <img id="logo" width="400" height="90" src="@routes.Assets.versioned("images/Capgemini-Logo.png")">
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="@controllers.routes.AdminPortalController.admin">Home</a></li>
                    <li><a href="@controllers.routes.ExamController.exam">Tests</a></li>
                    <li><a href="">Users</a></li>
                    <li><a href="@controllers.routes.LoginController.login">
                        <span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Welcome Kieran Puaar</h1>

        <table style="width:100%">
            <h3>101</h3>
            <tr>
                <th>ID</th>
                <th>Exam Name</th>
                <th>Manager</th>
            </tr>
            <tr>
                <td>KM101</td>
                <td>Knowledge Module 1</td>
                <td>Kieran Puaar</td>
                <td><button class="assignButton">Assign</button></td>
                <td><button class="editButton">Edit</button></td>
                <td><button class="removeButton">Remove</button></td>
            </tr>
            <tr>
                <td>KM1012</td>
                <td>Knowledge Module 1</td>
                <td>John Smith</td>
                <td><button class="assignButton">Assign</button></td>
                <td><button class="editButton">Edit</button></td>
                <td><button class="removeButton">Remove</button></td>
            </tr>
            <td><button class="addExamButton">Add Exam</button></td>
        </table>

        <table style="width:100%">
            <h3>102</h3>
            <tr>
                <th>ID</th>
                <th>Exam Name</th>
                <th>Manager</th>
            </tr>
            <tr>
                <td>KM101</td>
                <td>Knowledge Module 2</td>
                <td>Kieran Puaar</td>
                <td><button class="assignButton">Assign</button></td>
                <td><button class="editButton">Edit</button></td>
                <td><button class="removeButton">Remove</button></td>
            </tr>
            <td><button class="addExamButton">Add Exam</button></td>
        </table>

    </article>

</div>
}