@(message: String, style: String = "scala")

<section id="top">
    <div class="wrapper">
        <img src="images/Capgemini-Logo.png" width="200" height="100">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">capgemini logo</a>
                    <img src="images/Capgemini-Logo.png" width="200" height="100">
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="candidatePortal.scala.html">Home</a></li>
                    <li class="active"><a href="tests.scala.html">Exams</a></li>
                    <li><a href="login.scala.html"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Knowledge Module 1</h1>

        <h2>Question 1</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 2</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 3</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 4</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 5</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 6</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 7</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 8</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 9</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 10</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 11</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 12</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 13</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 14</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 15</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 16</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 17</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 18</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 19</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <h2>Question 20</h2>
        <h3>This is the question</h3>
        <p>Options</p>
        <form>
            <input type="radio" name="answer" value="answer1">Answer 1<br>
            <input type="radio" name="answer" value="answer2">Answer 2<br>
            <input type="radio" name="answer" value="answer3">Answer 3<br>
            <input type="radio" name="answer" value="answer4">Answer 4<br>
        </form>

        <button>Submit</button>

        <pre><code>@@(message: String)

@@main("Welcome to Play") {

    @@welcome(message, style = "scala")

}</code></pre>

    </article>

</div>