@(message: String, style: String = "scala")

<section id="top">
    <div class="wrapper">
        <img src="images/Capgemini-Logo.png" width="200" height="100">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">capgemini logo</a>
                    <img src="images/Capgemini-Logo.png" width="200" height="100">
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="managerPortal.scala.html">Home</a></li>
                    <li><a href="classes.scala.html">Classes</a></li>
                    <li><a href="tests.scala.html">Tests</a></li>
                    <li><a href="login.scala.html"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Welcome Kieran Puaar</h1>

        <table style="width:100%">
            <h3>101</h3>
            <tr>
                <th>ID</th>
                <th>Student First Name</th>
                <th>Student Surname</th>
                <th>Exam Name</th>
                <th>Completed</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>KP101</td>
                <td>Kieran</td>
                <td>Puaar</td>
                <td>Knowledge Module 1</td>
                <td>Yes/No</td>
                <td>15/20</td>
                <td><button class="reportButton">See Report</button></td>
            </tr>
        </table>

        <table style="width:100%">
            <h3>102</h3>
            <tr>
                <th>ID</th>
                <th>Student First Name</th>
                <th>Student Surname</th>
                <th>Exam Name</th>
                <th>Completed</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>KP102</td>
                <td>Kieran</td>
                <td>Puaar</td>
                <td>Knowledge Module 2</td>
                <td>Yes/No</td>
                <td></td>
                <td><button class="reportButton">See Report</button></td>
            </tr>
        </table>

        <pre><code>@@(message: String)

@@main("Welcome to Play") {

    @@welcome(message, style = "scala")

}</code></pre>

    </article>

</div>