@(message: String, style: String = "scala")

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
    <div class="wrapper">
        <img id="logo" width="400" height="90" src="@routes.Assets.versioned("images/Capgemini-Logo.png")">
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>Sign in</h1>
        <p>
            <input type="username" name="username" placeholder="Username">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>

    </article>

</div>
